@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

img {
    max-width: 90%;
    max-height: 500px;
    margin: auto;
    margin-top: 5%;
    display: inline-block;
    align-self: center;
}

div {
    display: flex;
    justify-content: center;
}

section {
    display: grid;
    width: 90%;
    background-color: #ebebeb;
    border-radius: 10px;
    text-align: center;
    margin: 5% 5% 0% 5%;
}

main {
    display: grid;
    font-family: 'Roboto Slab', serif;
    margin: 0 auto;
}

h1, h2 {
    margin: 4% 3% 2% 3%;
    
}

h2 {
    font-size: 1.2em;
}

p {
    padding: 15px;
}
