@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

img {
    max-width: 90%;
    max-height: 500px;
    margin: auto;
    margin-top: 5%;
    display: inline-block;
    align-self: center;
}

div {
    display: flex;
    justify-content: center;
}

section {
    display: grid;
    width: 90%;
    background-color: #ebebeb;
    border-radius: 10px;
    text-align: center;
    margin: 5% 5% 0% 5%;
}

main {
    display: grid;
    font-family: 'Roboto Slab', serif;
    margin: 0 auto;
}

h2 {
    padding-top: 10px;
}

h2, h3 {
    margin: 4% 3% 2% 3%;
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

p {
    padding: 15px;
}

header, footer {
    background-color: rgb(73, 46, 77);
    font-family: 'Roboto Slab', serif;
    margin: 5% 5% 0% 5%;
    text-align: center;
    border-radius: 10px;
    color: white;
    padding: 2% 0%;
}

header h1, h2 {
    margin: 0;
}

h1{
    padding: 0% 20px;
}

footer {
    grid-row: 5;
    background-color: rgb(73, 46, 77);
    color: white;
    border-radius: 7px;
    height: 80px;
}