@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Raleway:wght@300&display=swap');

body {
    font-family: 'Noto Serif';
}

h1, h2, h3 {
    font-family: 'Raleway';
    font-weight: bold;
}

.logo {
    padding: 15px;
    margin: auto;
    max-height: 90px;
    max-width: 80%;
}

/* header */

h1 {
    font-size: 5.5vw;
    margin: auto;
    padding: 10px;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: #10456A;
    color: white;
    text-align: center;
}

nav {
    display: flex;
}

.social {
    /* margin: auto 5px; */
    display: flex;
}

.social img {
    max-width: 30px;
    margin: auto 0.5em;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.nav-button {
    color: #10456A;
    margin: auto 0.5em;
    height: 30px;
    width: 30px;
    background-color: white;
    border: none;
    border-radius: 50%;
}

nav ul {
    list-style-type: none;
    grid-column: 1/4;
    padding: 0;
    margin: auto;
}

nav ul li a {
    text-decoration: none;
    text-align: center;
}

nav ul li {
    color: white;
    display: none;
    /* border-color: #10456A; */
    margin: auto;
}

.responsive {
    display: grid;
    position: absolute;
    z-index: 0;
    right: 0;
    margin: auto;
    width: 25%;
    max-width: 200px;
    height: 50%;
    padding: 10px;
    background-color: #F8E8A2;
}

.responsive li {
    display: block;
}
.responsive li a {
    color: #10456A;
}

#today {
    grid-column: 1/5;
    margin: auto;
    font-size: 1.2em;
    border-top: 1px solid white;
    padding: 10px;
}

/* footer */

footer {
    display: grid;
    background-color: #B5D6EE;
    text-align: center;
}

footer .logo {
    max-height: 100px;
    max-width: 20%;
    margin: 0 auto;
    padding-top: 10px;
}

footer h2 {
    grid-row: 2;
}

/* main */

main {
    display: grid;
}

/* home page */

section {
    border: 0.5px solid #10456A;
    margin: 5px;
    min-height: 150px;
    min-width: 50%;
}

.a-info {
    min-height: auto;
}

/* 
blue #10456A
yellow #F8E8A2
green #72B36C
light-blue #B5D6EE */