@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Raleway:wght@300&display=swap');

body {
    font-family: 'Noto Serif';
}

h1, h2, h3 {
    font-family: 'Raleway';
    font-weight: bold;
}

h1 {
    font-size: 1.8em;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: #10456A;
    color: white;
}    

.logo {
    max-height: 150px;
    max-width: 90%;
}    

nav img {
    max-height: 60%;
    margin: 0 auto;
}

nav {
    background-color: #F8E8A2;
    display: grid;
}

nav ul {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
}

main {
    display: grid;
}

section {
    border: 0.5px solid #10456A;
    margin: 5px;
}

footer {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    background-color: #B5D6EE;
    text-align: center;
}

footer .logo {
    max-width: 20%;
    /* grid-column: 1/4; */
    margin: 0 auto;
    padding-top: 10px;
}

footer h2 {
    grid-row: 2;
    
}
/* blue #10456A
   yellow #F8E8A2
   green #72B36C
   light-blue #B5D6EE */