@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Raleway:wght@300&display=swap');

body {
    font-family: 'Noto Serif';
}

h1, h2, h3 {
    font-family: 'Raleway';
    font-weight: bold;
}

.logo {
    padding: 10px;
    margin: auto;
    max-height: 100px;
    max-width: 90%;
}

/* header */

h1 {
    font-size: 5.5vw;
    margin: auto;
    padding: 10px;
}

header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: #10456A;
    color: white;
    text-align: center;
}

nav {
    display: flex;
    text-justify: center;
}

.social {
    max-width: 30px;
    margin: 100% 5px;
}

nav ul {
    list-style-type: none;
    grid-column: 1/4;
    padding: 0;
    margin: auto;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li {
    color: white;
    border-color: #10456A;
    width: 30px;
    height: 30px;
    margin: auto;
}

#today {
    grid-column: 1/4;
    margin: auto;
    font-size: 1.2em;
    border-top: 1px solid white;
    padding: 10px;
}

nav ul li {
    display: none;
}

.responsive {
    display: grid;
}

.responsive li {
    display: block;
}
.menu li:first-child {
	display: block;
}

/* footer */

footer {
    display: grid;
    background-color: #B5D6EE;
    text-align: center;
}

footer .logo {
    max-height: 100px;
    max-width: 20%;
    margin: 0 auto;
    padding-top: 10px;
}

footer h2 {
    grid-row: 2;
}

/* main */

main {
    display: grid;
}

/* home page */

section {
    border: 0.5px solid #10456A;
    margin: 5px;
}

/* 
blue #10456A
yellow #F8E8A2
green #72B36C
light-blue #B5D6EE */