@media only screen and (min-width: 900px) {
    
    main {
        grid-template-columns: 1fr 2fr 1fr;
    }

    .event-weather {
        flex-direction: column;
        grid-column: 1;
        grid-row: 1/3;
    }
    
    .hero {
        grid-column: 2;
        grid-row: 1/3;
    }

    .spotlights {
        display: flex;
        flex-direction: column;
        grid-column: 3;
        grid-row: 1/4;
    }


    header {
        grid-template-columns: 1fr 2fr 3fr 1fr;
    }
    
    nav {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 3fr 1fr;
        grid-row: 1;
        grid-column: 3/5;
    }

    .nav-button {
        display: none;
    }

    nav ul {
        display: grid;
        grid-template-columns: 20% 20% 20% 20% 20% 20%;
        margin: 0;
        grid-row: 1;
        grid-column: 1;
    }
    
    #close-menu {
        display: none;
    }
    
    .social {
        margin: auto;
        grid-column: 2;
    }
    .menu li a {
    color: white;
    }

    .menu li {
        display: block;
        margin: auto;
    }

    h1 {
        font-size: 2.5vw;
    }
}