body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    background-color: rgb(234, 250, 234);
    border: 3px solid darkgreen;
    border-radius: 7px;
    padding: 2%;
    box-shadow: 0 0 5px #555;
    margin: 1%;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

section {
    display: flex;
    flex-direction: column;
    background-color: rgb(234, 250, 234);
    border: 3px solid darkgreen;
    border-radius: 7px;
    padding: 2%;
    margin: 2%;
    align-items: center;
    box-shadow: 0 0 5px #555;
}

section img {
    max-width: 75%;
    box-shadow: 0 0 5px #555;
    margin-bottom: 10px;
}