@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

html {
    font-family: 'Ubuntu', sans-serif;
    font-size: larger;
}

table {
    margin: 100px auto;
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;
}
  
td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
}

thead {
    font-size: x-large;
}

th {
    background-color: #c991c6;
    font-size: large;
}

td {
    text-align: center;
}
  
tr:nth-child(even) td {
    background-color: #f3d7f3;
}

tr:nth-child(odd) td {
    background-color: #e6b9e6;
}
  
caption {
    padding: 10px;
}