@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&family=Raleway:wght@300&display=swap');

header {
    text-align:center;
    align-items:center;
}

#logo {
    max-width: 200px;
    margin-bottom: 10px;
}

#title {
    margin: 0px;
    padding: 10px;
}

body {
    margin: 0;
    font-family: 'Noto Serif';
    color:#10456a;
    text-align:center;
    align-items:center;
    display: grid;
}

h1, h2, h3, nav {
    font-family: 'Raleway';
    font-weight: bold;
}

h1 {
    background-color: #10456a;
    color: white;
    padding: 5px;
}

p {
    max-width: 90%;
    margin: 0 auto;
}

footer {
    background-color: #f8e8a2;
    text-align: center;
    margin-bottom: 0;
    margin-top: 30px;
    padding: 15px 0;
}

nav {
    margin-top: 0px;
    min-width: 100%;
}

nav ul {
    list-style: none;
    color: black;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    font-weight: bold;
}

nav ul li {
    display: block;
    background-color: #72B36C;
    line-height: 1.8rem;
}

nav ul li :hover {
    background-color: #b5d6ee;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
}

#green {
    background-color: #72B36C;
    color: white;
}

#yellow {
    background-color: #F8E8A2;
} 

#blue {
    background-color: #10456A;
    color: white;
}

#light-blue {
    background-color: #B5D6EE;
}
#green, #blue, #yellow, #light-blue {
    padding: 40px 10px;
}

#colors {
    padding: 20px;
    min-height: 200px;
}

#audience {
    display: grid;
}
.personas {
    max-width: 70%;
    max-width: 400px;
    margin: 50px auto;
}

@media only screen and (min-width: 32.5em) {
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
        justify-content: center;
    }

    nav ul li a {
        min-height: 100%;
    }

    #colors {
        display: flex;
    }

    #green, #blue, #yellow, #light-blue {
        padding: 15% 5%;
    }    
}